/* SECTION GALLERY */
h1{
    text-align: center;
    color: black;
    font-size: 5vw;
    margin: 0;
   position: relative;
}
.section-gallery{
    margin: 0;
    padding: 0;
    position: relative;
}
.section-gallery figcaption img {
    display: block;
    width: 100%;
    cursor: pointer;
  }
  
  .section-gallery .gallery-container {
    position: relative;
    width: 100%;
  }
  
    #arrow_back{
    transform: rotate(90deg);
    cursor: pointer;
    position: absolute;
    width: 20%;
    display: block;
    bottom: 5px; /* Adjust the value to control the distance between the image and the arrow */
    left: -4%;
  }  

  
  #arrow_forward{
        transform: rotate(270deg);
        cursor: pointer;
        position: absolute;
        width: 20%;
        display: block;
        bottom: 5px; /* Adjust the value to control the distance between the image and the arrow */
        right: -4%;
      } 
  
  
  /* MEDIA QUERIES */
  /* OVER 800PX */
  @media (min-width: 800px) {
   
  }
  
  /* OVER 1200PX */
  @media (min-width: 1200px) {
   
  }